<% provide(:title,'About us') %>
<h1>StaticPages#about us</h1>
 the <a href="http://railstutorial.org/">rort </a> is a project to make a book and screencasts to teach web development
<p>Find me in app/views/static_pages/help.html.erb</p>
